streamlit 
numpy
scikit-fem[all]
matplotlib
pydantic
scipy
sympy
findiff
jax
statsmodels
pymc
arviz
numpyro; python_version >= "3.12" and python_version < "3.13"
pandas
xarray
pyarrow
pydocstyle
pytest
pytest-cov
pytest-benchmark
hypothesis
# Optional FEniCS backend
# fenics-dolfinx
