streamlit 
numpy
scikit-fem[all]
matplotlib
pydantic
scipy
findiff
numba
jax
aleatory
statsmodels
pymc
pandas
xarray
pyarrow
pydocstyle
pytest
pytest-cov
pytest-benchmark
hypothesis
# Optional FEniCS backend
# fenics-dolfinx
